@import '../common/shared.scss';

.bodyContent {
    max-width: $max-width;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #bfbfbf;
    border-radius: 2%;
    background-color: white;
    box-shadow: 3px 7px 5px #aaaaaa;
    height: 500px;
}
