@import '../common/shared.scss';

.body {
    max-width: $max-width;
    margin: auto;
    width: 100%;
}

.body-container {
    display: flex;
    align-items: flex-start;
}

.body-left {
    flex: 8;
    width: 100%;
    margin: 0 auto;
}

.body-right {
    flex: 2;
    justify-content: end;
    width: 100%;
    margin: 0 auto;
}
