@import '../common/shared_val.scss';

.footer {
    max-width: $max-width;
    margin: auto;
    width: 100%;
    bottom: 0px;
    font-size: 6px;
    display: flex;
}

.footer-container {
    margin-top: 20px;
    flex: 10;
    text-align: center;
    align-items: center;
}
