@import '../common/shared_val.scss';
@import '../common/shared_mixin.scss';

.homesidebar {
    max-width: $max-width;
    width: 95%;
    margin: 0 auto;
    height: 300px;
    border: 1px solid #bfbfbf;
    border-radius: 2%;
    background-color: white;

    @include box-shadow-cyan();
}

.homesidebar_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.homesidebar_upside{
    margin-bottom: auto;
    width: 100%;
}

.homesidebar_bottomside{
    margin-top: auto;
    width: 100%;
}
