@import '../common/shared_val.scss';

.navbar {
    max-width: $max-width;
    margin: auto;
    width: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    flex: 1;
    text-align: left;
}

.nav-menu {
    flex: 6;
    text-align: end;
}
