@import '../common/shared.scss';

.navbar {
    max-width: 1024px;
    margin: auto;
    width: 100%;
    border-style: solid;
    border-width: 3px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    flex: 1;
    border: 1px solid black;
    text-align: center;
}

.nav-content {
    flex: 3;
    border: 1px solid black;
}

.nav-menu {
    flex: 2;
    border: 1px solid black;
}
