@import '../common/shared_val.scss';

@mixin button-color($color) {
    background: $color;
    &:hover {
        background: lighten($color, 10%);
    }
    &:active {
        background: darken($color, 10%);
    }
}

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.large {
        padding: 0.875rem 0.875rem;
        font-size: 1rem;
        margin: 0.1rem;
    }
    &.medium {
        padding: 0.5rem 0.5rem;
        font-size: 0.875rem;
        margin: 0.1rem;
    }
    &.small {
        padding: 0.4rem 0.3rem;
        font-size: 0.5rem;
        margin: 0.1rem;
    }

    &.primary {
        @include button-color($primary);
    }
    &.secondary {
        @include button-color($secondary);
    }
    &.success {
        @include button-color($success);
    }
    &.warning {
        @include button-color($warning);
    }
    &.danger {
        @include button-color($danger);
    }
    &.light {
        @include button-color($light);
    }
    &.dark {
        @include button-color($dark);
    }
    &.cyan {
        @include button-color($cyan);
    }
}

@mixin button-border-color($color) {
    background: $white;
    color: gray;
    border: 1px solid $color;
    &:hover {
        transition-duration: 0.4s;
        background: $color;
        color: $white;
    }
    &:active {
        background: darken($color, 10%);
    }
}

.Button-border {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.large {
        padding: 0.875rem 0.875rem;
        font-size: 1rem;
        margin: 0.1rem;
    }
    &.medium {
        padding: 0.5rem 0.5rem;
        font-size: 0.875rem;
        margin: 0.1rem;
    }
    &.small {
        padding: 0.4rem 0.3rem;
        font-size: 0.5rem;
        margin: 0.1rem;
    }

    &.primary {
        @include button-border-color($primary);
    }
    &.secondary {
        @include button-border-color($secondary);
    }
    &.success {
        @include button-border-color($success);
    }
    &.warning {
        @include button-border-color($warning);
    }
    &.danger {
        @include button-border-color($danger);
    }
    &.light {
        @include button-border-color($light);
    }
    &.dark {
        @include button-border-color($dark);
    }
    &.cyan {
        @include button-border-color($cyan);
    }
}
