@import '../common/shared_val.scss';

@mixin categoryItem-color($color) {
    background: lighten($color, 35%);
    color: gray;
    &:hover {
        background: lighten($color, 40%);
    }
    &:active {
        background: lighten($color, 30%);
    }
}

.CategoryItem{
    max-width: 120px;
    min-width: 90px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    display: inline-block;
    &.cyan {
        @include  categoryItem-color($cyan);
    }
}

.cate-container{
    width: 100%;
    margin: 12px auto;
}


