@import '../common/shared_val.scss';

@mixin label-color($color) {
    color: lighten($color, 10%);
}

.Label {
    font-weight: bold;
    outline: none;
    width: 90%;
    margin: 3px auto;

    &.large {
        font-size: 0.875rem;
    }
    &.medium {
        font-size: 0.5rem;
    }
    &.small {
        font-size: 0.3rem;
    }

    &.danger {
        @include label-color($danger);
    }
   
    &.cyan {
        @include  label-color($cyan);
    }
}
