@import '../common/shared_val.scss';

.PaymentItem{
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 1px auto;
    display: flex;
}


.PaymentItem_left{
    flex: 4;
    width: 100%;
    margin: 5px auto;
    font-size: 5%;
    text-align: center;
}

.PaymentItem_center{
    flex: 5;
    width: 100%;
    font-size: 5%;
    margin: 5px auto;
}

.PaymentItem_right{
    flex: 3;
    width: 100%;
    font-size: 5%;
    text-align: center;
    margin: 5px auto;
}